{% extends 'ForumForumBundle:Default:index.html.twig' %}

{% block body %}
    <div id="app">
        <h1>Hola</h1>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block javascripts %}
{% endblock %}