body {
    background-color: #5e5e5e;
    color: #d4d4d4;
}

.top-bar {
    padding: 10px 5px;
    margin: 10px 20px;
    color: #d2d2d2;
    background-color: #3c3c3c;
    vertical-align: middle;
}

.reply-box {
    margin: 10px 20px;
    padding: 10px;
    background-color: #3c3c3c;
}

#reply-form input {
    margin: 5px 0;
}

.posts-box {
    margin: 0px 20px;
    padding: 10px;
    background-color: #3c3c3c;
}

.posts-box .post {
    background-color: #4f4f4f;
    padding: 10px;
}

.posts-box .post-image {
    width: 300px;
    height: 200px;
    background-color: #5d5d5d;
    display: block;
    margin: 0 auto;
}